<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8" /> 
<title>
  This is front-end
</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>
  <a href="/">Refresh</a>
  <img src="/assets/logo.png" alt="This is front-end">
</h1>
<div class="about">
  <p>
    Writing front-end code on several machines and don't want to sync bookmarks? Perhaps you can benefit from this collection of links. Put together by <a href="http://maciejszafraniec.com/">Maciej Szafraniec</a>
  </p>
</div>
<%= yield %>
<script>
  $(function(){
    $('#container').masonry({
      itemSelector: 'section'
    });
    $('h1 img').on('click', function(){
      $('div.about p').slideToggle(160);
    });
  });
</script>
</body>
</html>
